:host {
	--card-height: 150;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dashboard-card {
	text-align: center;
	height: calc( var(--card-height, 150) * 1px );
  background-color: var(--dashboard-card-color, #444);
  border-radius: 2px;
	font-size: 1.5em;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
	&:active {
		box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.3);

	}
	&.analitica {
		--dashboard-card-color: #117A3D
	}
	&.acciones {
		--dashboard-card-color: #8B5E3C
	}
	&.tareas {
		--dashboard-card-color: #C23347
	}
	&.suscripciones {
		--dashboard-card-color: #DDA14A
	}
	&.biblioteca {
		--dashboard-card-color: #0F76BC
	}
	a {
		display: block;
		line-height: calc( var(--card-height, 150) * 1px );
		width: 100%;
		color: #fff;
		text-decoration: none
	}
}
