<div *ngIf="project$ | async as project">

	<form
		class="project-data-form"
		#projectDataForm="ngForm"
		(ngSubmit)="save()"
	>

		<nb-card-header class="d-flex flex-wrap align-items-center">

			<div class="photo-upload">
				<nb-user
					class="profile-user"
					[picture]="project.imgURL"
					[name]="project.name"
					[size]="'xlarge'"
					onlyPicture
				></nb-user>
				<div class="file-upload-container">
					<input
						type="file"
						class="file-upload"
						accept="image/*"
						title=" ">
					<div class="file-upload-btn">
						<div class="icon-camera">
							<i class="ion-camera"></i>
						</div>
					</div>
				</div>

			</div>

		</nb-card-header>

		<nb-card-body>
			<div class="header d-flex flex-wrap align-items-center">
				<h5 class="">Name</h5>
				<div class="detail font-w-light ml-auto">
					<input
						class="form-control"
						placeholder="Name"
						type="text"
						[(ngModel)]="project.name"
						name="name"
					>
				</div>
			</div>
<!--
			<div *ngIf="true || user.access !== 'admin'" class="header d-flex flex-wrap">
				<h5 class="">Projects</h5>
				<div class="detail font-w-light ml-auto text-right">
					<div *ngFor="let project of projectsService.projects">
						<nb-checkbox name="{{project.name}}" [(ngModel)]="user.projects[project.id]">{{project.name}}</nb-checkbox>
					</div>
				</div>
			</div>-->
		</nb-card-body>

		<input
			class="form-control"
			type="submit"
			value="Save"
			class="btn btn-hero-success"
			[disabled]="projectDataForm.invalid"
		/>
	</form>
</div>
