<nb-card>
	<nb-card-header class="group-title">
		<form
			[formGroup]="newPasswordGroup"
			class="input-group input-group-sm pb-2"
		>
			<input
				type="text"
				class="form-control"
				formControlName="groupName"
				placeholder="Group name"
				i18n-placeholder
				autocomplete="section-name"
				aria-label="Group name"
				i18n-aria-label
			>

			<div class="input-group-append">
				<button
					type="submit"
					(click)="saveGroup()"
					[disabled]="newPasswordGroup.invalid"
					class="btn btn-success icon"
					i18n
				>
					SAVE
				</button>
			</div>

		</form>

	</nb-card-header>

</nb-card>
