<nb-card
	class="card-container"
>

	<nb-card-header>
		<h1
			class="title h2 text-center"
			i18n
		>Customer Area</h1>
	</nb-card-header>

	<nb-card-body>

		<ng-container
			*ngIf="authService.currentUser$ | async as user; then homeTemplate; else loginTemplate"
		></ng-container>

		<ng-template #loginTemplate>
			<p
				class="text-center"
				i18n
			>This Customer Dashboard app is a solution to manage the company private content and share with our customers their projects tasks, passwords, summaries and other useful information.</p>
			<a
				[routerLink]="[ '/login' ]"
				class="btn btn-block btn-hero-success"
				i18n
			>Log In</a>
		</ng-template>

		<ng-template #homeTemplate>
			<h2
				class="h3 text-center"
				i18n
			>Welcome</h2>
			<p class="text-center h5">
				{{authService.currentUser.displayName}}
			</p>
			<p
				class="text-center"
				i18n
			>This Customer Dashboard app is a solution to manage the company private content and share with our customers their projects tasks, passwords, summaries and other useful information.</p>
		</ng-template>

	</nb-card-body>
</nb-card>
