<form
	class="login-form"
	#loginForm="ngForm"
	(ngSubmit)="signIn()"
>
<nb-card class="form-container">

	<nb-card-header>
		<h1 class="title h2 text-center" i18n>Sign In</h1>
	</nb-card-header>
		<nb-card-body>
			<div class="form-group">
				<input
					class="form-control"
					type="email"
					name="email"
					placeholder="Email"
					autocomplete="email"
					i18n-placeholder
					required
					[(ngModel)]="loginFormData.email"
					#name="ngModel"
				/>
			</div>
			<div class="form-group">
				<input
					class="form-control"
					type="password"
					name="password"
					placeholder="Password"
					i18n-placeholder
					autocomplete="current-password"
					required
					minlength="6"
					[(ngModel)]="loginFormData.password"
					#password="ngModel"
				/>
			</div>
			<div class="form-group">
				<nb-checkbox
					name="rememberMe"
					[(ngModel)]="loginFormData.rememberMe"
					i18n
				>Remember me
				</nb-checkbox>

			</div>
			<input
				class="form-control"
				type="submit"
				value="Sign In"
				i18n-value
				class="btn btn-block btn-hero-success"
				[disabled]="loginForm.invalid"
			/>

		</nb-card-body>
	</nb-card>
</form>
