<bmc-back-button [route]="['project', project.id]" [title]="project.name"></bmc-back-button>

<ng-container *ngIf="passwords && passwords.length; then yesPasswords; else noPasswords"></ng-container>

<ng-template #yesPasswords>
	<ng-container *ngFor="let group of passwords">
		<bmc-password-group
			*ngIf="group.groupName"
			[passwordGroup]="group"
			[projectId]="project.id"
		>
	</bmc-password-group>
	</ng-container>

</ng-template>

<ng-template #noPasswords>
	<nb-card>
		<nb-card-header class="m-auto">
			<h4 i18n>There's no data</h4>
		</nb-card-header>
	</nb-card>
</ng-template>

<bmc-password-new-group
	*ngIf="editPermission"
	[projectId]="project.id"
></bmc-password-new-group>
