<bmc-back-button [route]="['project', project.id]" [title]="project.name"></bmc-back-button>

<ng-container *ngIf="passwords && passwords.length; then yesPasswords; else noPasswords"></ng-container>

<ng-template #yesPasswords>
	<nb-card *ngFor="let group of passwords">
		<nb-card-header>
			<h4>{{group.groupName}}</h4>
		</nb-card-header>
		<nb-card-body *ngIf="group.groupFields as fields">
			<div *ngFor="let field of fields" class="form-group group-row">
				<div class="input-group input-group-fill-only">
					<label [for]="field.name" class="form-control">{{field.name}}</label>
				</div>
				<div class="input-group input-group-fill-only">
					<input
						[type]="(field.isPassword && !field.visible) ? 'password': 'text'"
						[name]="field.name"
						[value]="field.value"
						readonly
						class="col-9 form-control"
					>
					<div class="grup-row-icons">
						<div
							class="icon right"
							ngxClipboard
							[cbContent]="field.value"
							(cbOnSuccess)="hasCopied(field.name)"
						>
							<i class="ion-clipboard"></i>
						</div>
						<div *ngIf="field.isPassword" (click)="field.toggleVisibility()" class="icon right">
							<i [class]="field.visible ? 'ion-eye-disabled' : 'ion-eye'"></i>
						</div>
					</div>
				</div>
			</div>
		</nb-card-body>
	</nb-card>
</ng-template>

<ng-template #noPasswords>
	<nb-card>
		<nb-card-header class="m-auto">
			<h4 i18n>There's no data</h4>
		</nb-card-header>
	</nb-card>
</ng-template>
