<nb-card>
	<div class="d-flex align-items-center flex-row m-2">
		<a class="btn btn-secondary btn-icon btn-xl" routerLink="/admin">
			<i class="nb-arrow-thin-left"></i>
		</a>
		<div class="p-2" i18n>Admin Panel</div>
	</div>
</nb-card>

<nb-card>
	<div class="d-flex align-items-center flex-row m-2">
		<button class="btn btn-success btn-icon btn-xl" (click)="open(createUser)">
			<i class="nb-plus"></i>
		</button>
		<div class="p-2" i18n>Add New User</div>
	</div>
</nb-card>

<nb-card>
	<bmc-users-table class="m-2">
	</bmc-users-table>
</nb-card>

<ng-template #createUser let-createUser="close('Create User')" let-crossClick="dismiss('Cross click')" let-close="dismiss('Close Button')">
	<div class="modal-header">
		<h4 class="modal-title" i18n>Add New User</h4>
		<button type="button" class="close" aria-label="Close" (click)="crossClick">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form #newUserForm=ngForm>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label" for="email" i18n>Email</label>
				<div class="col-sm-9">
					<input
						class="form-control"
						type="email"
						name="email"
						email="true"
						#email="ngModel"
						placeholder="Email"
						i18n-placeholder
						required
						autocomplete="off"
						[(ngModel)]="newUserData.email"
					>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label" for="password" i18n>Password</label>
				<div class="col-sm-9">
					<input
						class="form-control"
						type="password"
						name="password"
						#password="ngModel"
						placeholder="Password"
						i18n-placeholder
						required
						minlength="6"
						autocomplete="off"
						[(ngModel)]="newUserData.password"
					>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" (click)="createUser" i18n>Create User</button>
		<button class="btn btn-secondary" (click)="close" i18n>Cancel</button>
	</div>
</ng-template>
