:host router-outlet {
	display: grid;
	grid-gap: 15px;
	@media screen and (min-width: 720px) {
		grid-gap: 20px;
	}
	@media screen and (min-width: 960px) {
		grid-gap: 25px;
	}
	grid-template-columns: repeat(auto-fill, minmax(calc(var(--dashboard-card-height, 150) * 2px), 1fr));

}

nb-card.dashboard-card {
	margin: 0;
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		.icon-container {
			margin: .5rem
		}
		.title {
			margin: 0;
			padding: .5rem
		}
	}
	&:hover, &:active {
		box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
	}
}
