<form
	[formGroup]="formPasswordField"
	class="input-group input-group-sm pb-2"
>
	<input
		type="text"
		class="form-control"
		formControlName="name"
		[readonly]="!editPermission"
		placeholder="Field name"
		i18n-placeholder
		autocomplete="section-name"
		aria-label="Field name"
		i18n-aria-label
	>
	<input
		[type]="(passwordField.isPassword && !visible) ? 'password': 'text'"
		class="form-control"
		formControlName="value"
		[readonly]="!editPermission"
		placeholder="Field value"
		i18n-placeholder
		autocomplete="section-value"
		aria-label="Field value"
		i18n-aria-label
	>
	<div class="input-group-append">
		<div *ngIf="editPermission" class="input-group-text">
			<nb-checkbox
				formControlName="isPassword"
				i18n
			>Password</nb-checkbox>
		</div>
		<button
			type="button"
			class="btn btn-outline-primary icon"
			ngxClipboard
			[cbContent]="passwordField.value"
			(cbOnSuccess)="hasCopied(passwordField.name)"
		>
			<i class="ion-clipboard"></i>
		</button>
		<button
			type="button"
			class="btn btn-outline-primary icon"
			[disabled]="!passwordField.isPassword"
			(click)="toggleVisibility()"
		>
			<i [class]="visible ? 'ion-eye-disabled' : 'ion-eye'"></i>
		</button>
		<button
		 	*ngIf="editPermission"
			type="submit"
			(click)="editField()"
			[disabled]="formPasswordField.invalid || formPasswordField.pristine"
			class="btn btn-success icon"
			i18n
		>
			SET
		</button>
		<button
			*ngIf="editPermission"
			type="button"
			class="btn btn-danger icon"
			(click)="deleteField()"
		>
			<i class="ion-trash-a"></i>
		</button>
	</div>
</form>
