:host {
	--topbar-height: 50;
	--sidebar-width: 240;
	display: grid;
	height: 100%;

	grid-template:
		"topbar topbar" calc(var(--topbar-height, 50) * 1px)
		"sidebar main" 1fr
		/ minmax(0, calc(var(--topbar-height, 50) * 1px)) 100%;
	@media screen and (min-width: 720px) {
		grid-template:
	    "topbar topbar" calc(var(--topbar-height, 50) * 1px)
			"sidebar main" 1fr
			/ calc(var(--topbar-height, 240) * 1px) 1fr;
	}

	bmc-top-bar {
		grid-area: topbar;
	}

	bmc-main-content {
		grid-area: main;
		overflow-x: hidden;
		overflow-y: overlay;
	}

	bmc-side-bar {
		grid-area: sidebar;
		overflow-x: hidden;
		overflow-y: overlay;

		display: none;
		width: calc(var(--sidebar-width, 240) * 1px);
		max-width: 100%;

		@media screen and (min-width: 720px) {
			display: initial;
			width: auto;
		}
	}

	&.opened-sidebar {
		grid-template:
			"topbar topbar" calc(var(--topbar-height, 50) * 1px)
			"main main" 1fr
			/ minmax(0, calc(var(--sidebar-width, 240) * 1px)) 100%;
		@media screen and (min-width: 720px) {
			grid-template:
				"topbar topbar" calc(var(--topbar-height, 50) * 1px)
				"sidebar main" 1fr
				/ calc(var(--sidebar-width, 240) * 1px) 1fr;
		}
		bmc-side-bar {
			display: initial;
			grid-area: main;
			@media screen and (min-width: 720px) {
				grid-area: sidebar;
			}
		}

	}

}

*::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
}
*::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.08);
}
