:host {
	--topbar-height: 50;
	--sidebar-width: 240;
	display: grid;
	height: 100%;

	grid-template:
    "topbar topbar" calc(var(--topbar-height, 50) * 1px)
		"sidebar main" 1fr
		/ calc(var(--sidebar-width, 240) * 1px) 1fr;
}

bmc-top-bar {
	grid-area: topbar;
}
bmc-side-bar {
	grid-area: sidebar;
	overflow-x: hidden;
	overflow-y: overlay;
}
bmc-main-content {
	grid-area: main;
	overflow-x: hidden;
	overflow-y: overlay;
}

*::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2);
}
*::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.08);
}
