:host {
	--border: 1px solid #e3e9ea;
	--sidebar-element-height: 50;
	--sidebar-element-bg-color: #fff;
	border-right: var(--border, 1px solid #e3e9ea);
	z-index: 5;
	box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1);
}
ul {
	margin: 0;
	padding: 0;
	border-bottom: var(--border, 1px solid #e3e9ea);
	> li {
		width: calc( var(--sidebar-width, 240) * 1px );
		height: calc( var(--sidebar-element-height) * 1px );
		background-color: var(--sidebar-element-bg-color);
		display: block;
		cursor: pointer;
		border-top: var(--border, 1px solid #e3e9ea);
		box-sizing: border-box;
		&:hover {
			--sidebar-element-bg-color: #f2f6fa;
		}
		&[selected="true"] {
			--sidebar-element-bg-color: #d4e2f0;
		}
		> a {
			display: flex;
			flex-flow: row;
			align-items: center;
			padding: 0 calc( var(--sidebar-element-height) * .15px );
			line-height: calc( var(--sidebar-element-height) * 1px );
			color: #000;
			font-weight: 600;
			text-decoration: none;
			img.client-logo {
				height: calc( var(--sidebar-element-height) * .7px );
				width: calc( var(--sidebar-element-height) * .7px );
				background-color: #fff;
				border-radius: 50%;
				line-height: calc( var(--sidebar-element-height) * 1px );
				margin-right: calc( var(--sidebar-element-height) * .15px );
				box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1);
			}
			.client-name {
				flex: 1;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
