<div *ngIf="user$ | async as user">

		<nb-card-header class="d-flex flex-wrap align-items-center">

			<div class="photo-upload">
				<nb-user
					class="profile-user"
					[picture]="user?.photoURL"
					[name]="user?.displayName"
					[size]="'xlarge'"
					onlyPicture
				></nb-user>
				<div class="file-upload-container">
					<input
						type="file"
						class="file-upload"
						accept="image/*"
						title=" ">
					<div class="file-upload-btn">
						<div class="icon-camera">
							<i class="ion-camera"></i>
						</div>
					</div>
				</div>

			</div>
			<div class="h6 ml-auto text-right user-role">
				<form #roleForm="ngForm">
					<div *ngIf="user.access === 'master'">
						<label class="custom-control custom-radio right">
							<input class="custom-control-input"
								type="radio"
								value="master"
								[(ngModel)]="userData.access"
								name="access"
								disabled
							>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description" i18n>Master</span>
						</label>
					</div>
					<div *ngIf="!(user.access === 'master')">
						<label class="custom-control custom-radio right">
							<input class="custom-control-input"
								type="radio"
								value="admin"
								[(ngModel)]="userData.access"
								name="access"
							>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description" i18n>Admin</span>
						</label>
					</div>
					<div *ngIf="!(user.access === 'master')">
						<label class="custom-control custom-radio right">
							<input class="custom-control-input"
								type="radio"
								value="author"
								[(ngModel)]="userData.access"
								name="access"
							>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description" i18n>Author</span>
						</label>
					</div>
					<div *ngIf="!(user.access === 'master')">
						<label class="custom-control custom-radio right">
							<input class="custom-control-input"
								type="radio"
								value="reader"
								[(ngModel)]="userData.access"
								name="access"
							>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description" i18n>Reader</span>
						</label>
					</div>
					<button
					 	*ngIf="!(user.access === 'master')"
						[disabled]="userData.access === user.access"
						class="btn btn-primary btn-tn ml-auto"
						type="submit"
						(click)="setAccess()"
						i18n
					>Set</button>
				</form>
			</div>
		</nb-card-header>

		<nb-card-body>
			<div class="header d-flex flex-wrap align-items-center">
				<h5 i18n>Display name</h5>
				<div class="detail ml-auto mr-2 font-w-light">
					{{user.displayName}}
				</div>
				<form #nameForm="ngForm" class="detail input-group input-group-sm text-right">
					<input
						class="form-control"
						type="text"
						[(ngModel)]="userData.displayName"
						name="displayName"
						#name="ngModel"
						required
						minlength="6"
					>
					<button
						[disabled]="name.invalid || name.pristine || userData.displayName === user.displayName"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setName()"
						i18n
					>Set</button>
				</form>

			</div>

			<div class="header d-flex flex-wrap align-items-center">
				<h5 i18n>Email</h5>
				<div class="detail ml-auto mr-2 font-w-light">
					{{user.email}}
				</div>
				<form #emailForm="ngForm" class="detail input-group input-group-sm text-right">
					<input
						class="form-control"
						type="email"
						[(ngModel)]="userData.email"
						name="email"
						#email="ngModel"
						email="true"
						required
					>
					<button
						[disabled]="email.invalid || email.pristine"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setEmail()"
						i18n
					>Set</button>
				</form>

			</div>

			<div
				class="header d-flex flex-wrap"
			>
				<h5 i18n>Projects</h5>
				<form #projectsForm="ngForm" class="detail font-w-light ml-auto text-right">
					<div *ngFor="let project of (projectsService.projects$ | async)">

						<nb-checkbox
							class="right"
							[name]="project.id"
							[(ngModel)]="userData.projects[project.id]"
						>{{project.name}}</nb-checkbox>
					</div>
					<button
						[disabled]="projectsForm.pristine"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setProjects()"
						i18n
					>Set</button>
				</form>
			</div>
			<button [disabled]="user.access === 'master'" class="btn btn-danger btn-icon btn-xl" (click)="open(deleteUser)" i18n><i class="nb-trash"></i></button>
			<ng-template #deleteUser let-c="close" let-d="dismiss">
				<div class="modal-header">
					<h4 class="modal-title">Are you sure you want to delete this user?</h4>
					<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>This action cannot be undone</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" (click)="c('Deleted User')" i18n>Delete User</button>
					<button class="btn btn-secondary" (click)="d('Close Button')" i18n>Cancel</button>
				</div>
			</ng-template>
		</nb-card-body>
</div>
