<bmc-back-button [route]="['project', project.id]" [title]="project.name"></bmc-back-button>

<nb-card class="full-card-calendar">
	<nb-card-body>
		<div *ngIf="editPermission">
			<bmc-id-field [label]="'Google Docs ID'" [value]="gDocsID" [type]="'actions'" [key]="'ID'"></bmc-id-field>
		</div>
		<ng-container *ngIf="gDocsID">
			<iframe class="full-frame-calendar" frameborder="0" style="border:0" [src]="url"></iframe>
		</ng-container>
		<ng-container *ngIf="!gDocsID">
			<nb-card-header class="m-auto">
				<h4 i18n>There's no data</h4>
			</nb-card-header>
		</ng-container>
	</nb-card-body>
</nb-card>
