<span class="created-by" i18n>Created by
	<b>
		<a href="https://a.morente.me" target="_blank">A.Morente</a>
	</b> {{today | amDateFormat:'YYYY'}}.</span>
<div class="socials">
	<a class="ion ion-social-github" href="https://github.com/morente5/customer-dashboard" target="_blank"></a>
	<a class="ion ion-social-facebook" href="https://www.facebook.com/morente5/" target="_blank"></a>
	<a class="ion ion-social-twitter" href="https://twitter.com/morenzero5" target="_blank"></a>
	<a class="ion ion-social-linkedin" href="https://www.linkedin.com/in/morente5" target="_blank"></a>
</div>
