<form
	[formGroup]="newPasswordField"
	class="input-group input-group-sm pb-1"
>
	<input
		type="text"
		class="form-control"
		formControlName="name"
		placeholder="Field name"
		i18n-placeholder
		autocomplete="section-name"
		aria-label="Field name"
		i18n-aria-label
	>
	<input
		type="text"
		class="form-control"
		formControlName="value"
		placeholder="Field value"
		i18n-placeholder
		aria-label="Field value"
		i18n-aria-label
	>
	<div class="input-group-append">
		<div class="input-group-text">
			<nb-checkbox
				formControlName="isPassword"
				i18n
			>Password</nb-checkbox>
		</div>
		<button
			type="submit"
			(click)="saveField()"
			[disabled]="newPasswordField.invalid"
			class="btn btn-success icon"
			i18n
		>
			SAVE
		</button>
	</div>
</form>
