<nb-layout *ngIf="authService.ready" class="window-mode with-scroll">

	<nb-layout-header
		fixed
		class="fixed"
		*ngIf="authService.currentUser as user"
	>
		<bmc-topbar
			[sidebarState]="sidebarState"
		></bmc-topbar>
	</nb-layout-header>

	<nb-sidebar
	 	*ngIf="(authService.currentUserProjects$ | async) && authService.currentUserProjects.length"
		left
		responsive
		class="menu-sidebar"
	>
		<bmc-sidebar-project
			*ngFor="let project of authService.currentUserProjects"
			[project]="project"
			[opened]="openedSidebar"
		></bmc-sidebar-project>
	</nb-sidebar>

	<nb-layout-column>
		<router-outlet></router-outlet>
	</nb-layout-column>

	<nb-layout-footer>
		<bmc-footer></bmc-footer>
	</nb-layout-footer>

</nb-layout>

<bmc-loader *ngIf="!authService.ready"></bmc-loader>
