:host {
	background: linear-gradient(135deg, unquote('hsl( var(--topbar-bg-color, 216) , 70%, 32%)'), unquote('hsl( var(--topbar-bg-color, 216) , 70%, 43%)'));
}

nav {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
	z-index: 10;
	& * {
		line-height: calc(var(--topbar-height) * 1px);
		color: #fff;
	}
	.nav-left, .nav-right {
		display: flex;
	}
}

i {
	line-height: calc(var(--topbar-height) * 1px);
	font-size: calc(var(--topbar-height) * .5px);
}

.title {
	font-size: 1.1em;
}
.topbar-button {
	display: block;
	height: calc(var(--topbar-height) * 1px);
	width: calc(var(--topbar-height) * 1px);
	text-align: center;
	&:hover {
		background-color: unquote('hsla( var(--topbar-bg-color, 216) , 70%, 25%, .50)')
	}
}
.menu-toggle {
	cursor: pointer;
	user-select: none;
}
