<nav>
	<div class="nav-left">
		<a
			*ngIf="projects$ | async"
			class="topbar-button menu-toggle"
			(click)="toggleSidebar()"
		>
			<i class="material-icons">menu</i>
		</a>
		<span class="topbar-text title"></span>

	</div>
	<div class="nav-right">
		<span *ngIf="user" class="topbar-text user-info">{{user.displayName}}</span>
		<a class="topbar-button">
			<i class="material-icons">settings</i>
		</a>

		<div *ngIf="user; then logout else login"></div>
		<ng-template #login>
			<a class="topbar-button" routerLink="/login">
				<i class="material-icons">person_pin</i>
			</a>
		</ng-template>
		<ng-template #logout>
			<a class="topbar-button" (click)="logoutClick()">
				<i class="material-icons">exit_to_app</i>
			</a>
		</ng-template>

	</div>

</nav>
