<nb-card>
	<nb-card-header class="group-title">
		<form
			[formGroup]="formPasswordGroup"
			class="input-group input-group-sm pb-2"
		>
			<input
				type="text"
				class="form-control"
				formControlName="groupName"
				[readonly]="!editPermission"
				placeholder="Group name"
				i18n-placeholder
				autocomplete="section-name"
				aria-label="Group name"
				i18n-aria-label
			>

			<div *ngIf="editPermission" class="input-group-append">
				<button
					type="submit"
					(click)="changeGroupName()"
					[disabled]="formPasswordGroup.invalid || formPasswordGroup.pristine"
					class="btn btn-success icon"
					i18n
				>
					SET
				</button>

				<button
					type="button"
					class="btn btn-danger icon"
					(click)="deleteGroup()"
				>
					<i class="ion-trash-a"></i>
				</button>
			</div>
		</form>

	</nb-card-header>
	<nb-card-body
		*ngIf="!(!editPermission && !groupFields?.length)"
	>
		<bmc-password-field
			*ngFor="let field of groupFields"
			[passwordField]="field"
			[passwordGroupId]="passwordGroup.id"
			[projectId]="projectId"
			class="form-group group-row"
		>
		</bmc-password-field>

		<bmc-password-new-field
			*ngIf="editPermission"
			class="form-group group-row"
			[passwordGroupId]="passwordGroup.id"
			[projectId]="projectId"
		>
		</bmc-password-new-field>

	</nb-card-body>

</nb-card>
