<div *ngIf="project$ | async as project">

		<nb-card-header class="d-flex flex-wrap align-items-center">

			<div class="photo-upload">
				<nb-user
					class="profile-user"
					[picture]="project.imgURL"
					[name]="project.name"
					[size]="'xlarge'"
					onlyPicture
				></nb-user>
				<div class="file-upload-container">
					<input
						type="file"
						class="file-upload"
						accept="image/*"
						title=" ">
					<div class="file-upload-btn">
						<div class="icon-camera">
							<i class="ion-camera"></i>
						</div>
					</div>
				</div>

			</div>

		</nb-card-header>

		<nb-card-body>
			<div class="header d-flex flex-wrap align-items-center">
				<h5 i18n>Name</h5>
				<div class="detail ml-auto mr-2 font-w-light">
					{{project.name}}
				</div>
				<form #nameForm="ngForm" class="detail input-group input-group-sm text-right">
					<input
						class="form-control"
						type="text"
						[(ngModel)]="projectData.name"
						name="name"
						#name="ngModel"
						required
						minlength="6"
					>
					<button
						[disabled]="name.invalid || name.pristine || projectData.name === project.name"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setName()"
						i18n
					>Set</button>
				</form>

			</div>
			<div
				class="header d-flex flex-wrap"
			>
				<h5 i18n>Sections</h5>
				<form #sectionsForm="ngForm" class="detail font-w-light ml-auto text-right">
					<div *ngFor="let sectionName of sectionNames()">

						<nb-checkbox
							class="right"
							[name]="sectionName"
							[(ngModel)]="projectData.sections[sectionName]"
						>{{sectionName | sectionNameP}}</nb-checkbox>
					</div>
					<button
						[disabled]="sectionsForm.pristine"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setSections()"
						i18n
					>Set</button>
				</form>
			</div>

			<div class="header d-flex flex-wrap">
				<h5 i18n>Analytics</h5>
				<div class="detail ml-auto font-w-light">

					<form
						#nameForm="ngForm"
						class="detail align-items-center input-group input-group-sm ml-auto text-right"
					>
						<div class="detail ml-auto mr-2 font-w-light">
							<label i18n>Mobile: </label>
							<a *ngIf="(projectSections$Obj?.analytics | async)?.mobile" [href]="(projectSections$Obj.analytics | async)?.mobile" i18n>Go to URL</a>
						</div>
						<input
							*ngIf="projectSectionsData.analytics"
							class="form-control"
							type="url"
							[(ngModel)]="projectSectionsData.analytics.mobile"
							name="name"
							#name="ngModel"
							required
							url="true"
						>
						<button
							[disabled]="name.invalid || name.pristine || projectData.name === project.name"
							class="btn btn-primary btn-tn"
							type="submit"
							(click)="setName()"
							i18n
						>Set</button>
					</form>
					<form
						#nameForm="ngForm"
						class="detail align-items-center input-group input-group-sm ml-auto text-right"
					>
						<div class="detail ml-auto mr-2 font-w-light" i18n>
							Desktop: {{project.name}}
						</div>
						<input
							class="form-control"
							type="url"
							[(ngModel)]="projectData.name"
							name="name"
							#name="ngModel"
							required
							url="true"
						>
						<button
							[disabled]="name.invalid || name.pristine || projectData.name === project.name"
							class="btn btn-primary btn-tn"
							type="submit"
							(click)="setName()"
							i18n
						>Set</button>
					</form>

				</div>

			</div>
			<button class="btn btn-danger btn-icon btn-xl" (click)="open(deleteProject)" i18n>
				<i class="nb-trash"></i>
			</button>
			<ng-template #deleteProject let-c="close" let-d="dismiss">
				<div class="modal-header">
					<h4 class="modal-title" i18n>Are you sure you want to delete this project?</h4>
					<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p i18n>This action cannot be undone</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" (click)="c('Deleted Project')" i18n>Delete Project</button>
					<button class="btn btn-secondary" (click)="d('Close Button')" i18n>Cancel</button>
				</div>
			</ng-template>
		</nb-card-body>

</div>
