<nb-card>
	<div class="d-flex align-items-center flex-row m-2">
		<a class="btn btn-secondary btn-icon btn-xl" routerLink="/admin">
			<i class="nb-arrow-thin-left"></i>
		</a>
		<div class="p-2" i18n>Projects list</div>
	</div>
</nb-card>

<ng-container *ngIf="project$ | async as project">

	<nb-card>

		<nb-card-header class="d-flex flex-wrap align-items-center">

			<div class="photo-upload">
				<nb-user
					class="profile-user"
					[picture]="project.imgURL"
					[name]="project.name"
					[size]="'xlarge'"
					onlyPicture
				></nb-user>
				<div class="file-upload-container">
					<input
						type="file"
						class="file-upload"
						accept="image/*"
						title=" ">
					<div class="file-upload-btn">
						<div class="icon-camera">
							<i class="ion-camera"></i>
						</div>
					</div>
				</div>

			</div>

		</nb-card-header>

		<nb-card-body>
			<div class="header d-flex flex-wrap align-items-center">
				<h5 i18n>Name</h5>
				<div class="detail ml-auto mr-2 font-w-light">
					{{project.name}}
				</div>
				<form #nameForm="ngForm" class="detail input-group input-group-sm text-right">
					<input
						class="form-control"
						type="text"
						[(ngModel)]="projectData.name"
						name="name"
						#name="ngModel"
						required
						minlength="6"
					>
					<button
						[disabled]="name.invalid || name.pristine || projectData.name === project.name"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setName()"
						i18n
					>Set</button>
				</form>

			</div>
			<div
				class="header d-flex flex-wrap"
			>
				<h5 i18n>Sections</h5>
				<form #sectionsForm="ngForm" class="detail font-w-light ml-auto text-right">
					<div *ngFor="let sectionName of sectionNames()">

						<nb-checkbox
							class="right"
							[name]="sectionName"
							[(ngModel)]="projectData.sections[sectionName]"
						>{{sectionName | sectionNameP}}</nb-checkbox>
					</div>
					<button
						[disabled]="sectionsForm.pristine || sectionsAreEquivalent(project.sections)"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setSections()"
						i18n
					>Set</button>
				</form>
			</div>

			<div class="header d-flex flex-wrap align-items-center">
				<h5 i18n>User assigned</h5>
				<form #userAssignedForm="ngForm" class="detail input-group input-group-sm ml-auto text-right">
					<select name="userAssigned" class="form-control" [(ngModel)]="projectData.userAssigned" #userAssigned="ngModel">
						<option *ngFor="let user of adminUsersService.users" [value]="user.id">{{user.displayName}}</option>
					</select>

					<button
						[disabled]="userAssigned.pristine || projectData.userAssigned === project.userAssigned"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setUserAssigned()"
						i18n
					>Set</button>
				</form>
			</div>

		</nb-card-body>
	</nb-card>

	<nb-card>
		<div class="d-flex align-items-center flex-row m-2">
			<button class="btn btn-danger btn-icon btn-xl" (click)="open(deleteProject)" i18n>
				<i class="nb-trash"></i>
			</button>
			<div class="p-2" i18n>Delete Project</div>
		</div>
	</nb-card>

	<ng-template #deleteProject let-deleteProject="close('Delete Project')" let-crossClick="dismiss('Cross click')" let-close="dismiss('Close Button')">
		<div class="modal-header">
			<h4 class="modal-title" i18n>Are you sure you want to delete this project?</h4>
			<button type="button" class="close" aria-label="Close" (click)="crossClick">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p i18n>This action cannot be undone</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" (click)="deleteProject" i18n>Delete Project</button>
			<button class="btn btn-secondary" (click)="close" i18n>Cancel</button>
		</div>
	</ng-template>

</ng-container>
