<div *ngIf="project$ | async as project">

		<nb-card-header class="d-flex flex-wrap align-items-center">

			<div class="photo-upload">
				<nb-user
					class="profile-user"
					[picture]="project.imgURL"
					[name]="project.name"
					[size]="'xlarge'"
					onlyPicture
				></nb-user>
				<div class="file-upload-container">
					<input
						type="file"
						class="file-upload"
						accept="image/*"
						title=" ">
					<div class="file-upload-btn">
						<div class="icon-camera">
							<i class="ion-camera"></i>
						</div>
					</div>
				</div>

			</div>

		</nb-card-header>

		<nb-card-body>
			<div class="header d-flex flex-wrap align-items-center">
				<h5 i18n>Name</h5>
				<div class="detail ml-auto mr-2 font-w-light">
					{{project.name}}
				</div>
				<form #nameForm="ngForm" class="detail input-group input-group-sm text-right">
					<input
						class="form-control"
						type="text"
						[(ngModel)]="projectData.name"
						name="name"
						#name="ngModel"
						required
						minlength="6"
					>
					<button
						[disabled]="name.invalid || name.pristine || projectData.name === project.name"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setName()"
						i18n
					>Set</button>
				</form>

			</div>
			<div
				class="header d-flex flex-wrap"
			>
				<h5 i18n>Sections</h5>
				<form #sectionsForm="ngForm" class="detail font-w-light ml-auto text-right">
					<div *ngFor="let sectionName of sectionNames()">

						<nb-checkbox
							class="right"
							[name]="sectionName"
							[(ngModel)]="projectData.sections[sectionName]"
						>{{sectionName}}</nb-checkbox>
					</div>
					<button
						[disabled]="sectionsForm.pristine"
						class="btn btn-primary btn-tn"
						type="submit"
						(click)="setSections()"
						i18n
					>Set</button>
				</form>
			</div>
			<!--<div *ngIf="true || user.access !== 'admin'" class="header d-flex flex-wrap">
				<h5 class="">Projects</h5>
				<div class="detail font-w-light ml-auto text-right">
					<div *ngFor="let project of projectsService.projects">
						<nb-checkbox name="{{project.name}}" [(ngModel)]="user.projects[project.id]">{{project.name}}</nb-checkbox>
					</div>
				</div>
			</div>-->
		</nb-card-body>

</div>
