<a [routerLink]="['/']">
	<i class="material-icons">home</i>
</a>
<h2>Iniciar Sesión</h2>
<form
	#loginForm="ngForm"
	(ngSubmit)="onSubmit()"
>
	<input
		type="email"
		name="email"
		required
		[(ngModel)]="loginFormData.email"
		#name="ngModel"
	>
	<input
		type="password"
		name="password"
		required
		minlength="6"
		[(ngModel)]="loginFormData.password"
		#password="ngModel"
	>
	<div>
		<input
			type="submit"
			[disabled]="loginForm.invalid"
		>LOGIN
	</div>
</form>
<div>
	<button type="button" (click)="loginWithGoogle()">LOGIN CON GOOGLE</button>
</div>
