@import 'app/scss/theme';

:root {
	--bg-color: #e9f1f7;

	--topbar-bg-color: 216;  // Hue
	--topbar-height: 3;  // rem

	--sidebar-bg-color: #fff;
	--sidebar-width: 15;  // rem
	--sidebar-border: 1px solid #e3e9ea;
	--sidebar-element-height: 3.5;  // rem
	--sidebar-element-bg-color: #fff;
	--sidebar-element-bg-color-hover: #f4f5f5;
	--sidebar-element-bg-color-selected: #e9ebeb;

	--footer-height: 3;  // rem
	--footer-padding: .5;  // rem

	--dashboard-card-color: #444;
	--dashboard-card-height: 150;

}

body {
	background-color: var(--bg-color, #e5f4f9);
}

.loader-container {
	display: flex;
	align-items: center;
  justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

.loader-cube {
  width: 40px;
  height: 40px;
  position: relative;
	transform: rotateZ(45deg);
	.cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
		transform: scale(1.1);
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #12386F;
			animation: fold-cube 2.4s infinite linear both;
			transform-origin: 100% 100%;
		}
		@for $i from 2 through 4 {
			&.cube#{$i} {
				transform: scale(1.1) rotateZ(($i - 1) * 90deg);
				&:before {
					animation-delay: ($i - 1) * 0.3s;
				}
			}
		}
	}
}

@keyframes fold-cube {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.full-card {
	height: calc(100% - 20px);
	max-width: 1080px;
}
.full-card-calendar {
	height: calc(100% - 20px);
	max-width: inherit;
}

.full-frame {
	width: 100%;
	height: 100%;
	max-width: 1080px;
}
.full-frame-calendar {
	width: 100%;
	height: 100%;
	max-width: inherit;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.3);
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background: linear-gradient(90deg,#CCC,#999)
}
