<router-outlet>
	<ng-container *ngFor="let item of dashboardNames">
		<nb-card class="dashboard-card {{item}}" *ngIf="project?.sections && project?.sections[item]">
			<a [routerLink]="item">
				<div class="icon-container">
					<div class="btn btn-hero-{{dashboardMenu[item].color ? dashboardMenu[item].color : 'success'}} btn-lg btn-icon">
						<i class="{{dashboardMenu[item].icon ? dashboardMenu[item].icon : 'nb-grid-a'}}"></i>
					</div>
				</div>
				<div class="details">
					<h4 class="title">{{dashboardMenu[item].name}}</h4>
				</div>
			</a>
		</nb-card>
	</ng-container>
</router-outlet>
