<nb-actions class="header-container left" size="medium">
	<nb-action
		*ngIf="projectsService.projects$ | async"
		class="control-item"
		(click)="toggleSidebar()"
		icon="nb-menu"
	></nb-action>
	<nb-action
		class="control-item"
		icon="nb-home"
		(click)="homeClick()"
	></nb-action>
	<nb-action
		class="control-item"
	>
	<strong>{{title}}</strong>
	</nb-action>

</nb-actions>

<nb-actions class="header-container medium right" size="medium">
	<nb-action class="control-item disabled" icon="nb-notifications"></nb-action>
	<nb-action class="control-item" icon="nb-email"></nb-action>
	<nb-action>
		<nb-user
			*ngIf="authService.user$ | async as user"
			[picture]="user.photoURL"
			[name]="user.displayName"
			[nbContextMenu]="user.isAdmin ? adminMenu : userMenu"
			(menuClick)="logoutClick()"
		>
		</nb-user>
	</nb-action>

</nb-actions>
